<% layout("/layouts/boilerplate") %>
    <h3>Edit Listing</h3>
    <form method="POST" action="/listings/<%=listing._id%>?_method=PUT" novalidate class="needs-validation" enctype="multipart/form-data">
        <div class="mb-3">
            <label for="title" class="form-label">Title</label>
            <input name="listing[title]" value="<%=listing.title%>" type="text" class="form-control"
            required>
<div class="valid-feedback">
        Title looks good!
       </div>
        </div>
           <div class="mb-3">
            <label for="description" class="form-label">Description</label>
             <textarea name="listing[description]"
              class="form-control" 
              required
              > <%=listing.description%>
            </textarea>
            <div class="invalid-feedback">
                Please enter a valid feedback!
       </div>
           </div>
           <div class="mb-3">
            Original Listing image <br>
            <img scr="<%= originalImageurl %>"/>
            </div>

        <div class="mb-3">
            <label for="image" class="form-label"> Upload new Image </label>
            <input name="listing[image]" type="file" class="form-control" >
        </div>
        <div class="mb-3">
            <label for="price" class="form-label">Price</label>
            <input 
            name="listing[price]" 
            value="<%=listing.price%>" 
            type="number"
            class="form-control"
            required
            />
            <div class="invalid-feedback">
                Price should be valid
       </div>
        </div>
        <div class="mb-3">
            <label for="location" class="form-label">location</label>
             <input 
             name="listing[location]" 
             value="<%= listing.location%>"
             type="text"
             class="form-control"
             required
             />
             <div class="invalid-feedback">
                Location must be valid
       </div>
        </div>
          <div class="mb-3">
             <label for="country" class="form-label">country</label>
             <input name="listing[country]" 
             value="<%=listing.country%>"
             type="text"
             class="form-control"
             required
             />
             <div class="invalid-feedback">
                Country should be valid.
       </div>
          </div>
          <br></br>
        <button class="btn btn-dark edit-btn ">add</button>
</form>

